# CodeIgniter 4 Recommended Ignore List
/vendor/
/writable/debugbar/
/writable/logs/
/writable/session/
/writable/cache/
/writable/uploads/

# Ignore the environment configuration file
.env
phpunit.xml
html/

# System specific files
.DS_Store
Thumbs.db